
*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;

}
header {
    background-image: url("../pics/Layer10.png");
    background-size: cover;
    height: 770px;
    z-index: 1;
    position: relative;
}
header:after {
    content: ' ';
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 770px;
    z-index: 2;
    top: 770px;
}
.d_top{
    margin: 40px 230px;
    color: white;
    width: 1140px;
}
.d_menu{
    margin-left: auto;
    margin-right: 0;
}
.d_logo{
    font-size: 24pt;
}
.d_top{
    position: absolute;
    display: inline-flex;
}
.d_menu ul {
    display: inline-flex;
}
.d_menu ul li{
    list-style-type: none;
    padding-left: 30px;
    line-height: 32px;
}
.d_menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
}
.d_center {
    width: 1600px;
    margin-top: 320px;
    position: absolute;
    color: white;
}
.d_center h2{
    text-align: center;
    font-size: 40pt;
}
.d_center p{
    display: block;
    width: 1600px;
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
}
.d_button{
    width: 1600px;
    justify-content: center;
}
.d_button button{
    width: 180px;
    height: 48px;
    background: none;
    color: white;
    font-size: 12pt;
    margin-left: calc(50% - 90px);
}
.servises{
    padding: 100px 0;
}
.servises>h3{
    width: 1600px;
    text-align: center;
    color: #555555;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-size: 20px;
}
.servises>p{
    width: 1600px;
    text-align: center;
    color: #555555;
    padding: 30px 0;
    font-size: 16px;
}
.d_services3{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}
.d_s {
    justify-content: center;
    width: 365px;
    height: 260px;
    margin: 0 15px;
    display: flex;
    padding-top: 40px;
    flex-flow: column;
}
.d_img{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.d_name_s{
    display: flex;
    margin: 0 auto;
    text-transform: uppercase;
}
.d_s span{
    display: block;
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
    line-height: 25px;
}
.d_red {
    background-color: #c0301c;
}


.Maboutus{
    width: 100%;
    background-color: #f8f8f8;
}
.MH2aboutus{
    font-size: 20px;
    padding-top: 100px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(85, 85, 85);
    font-weight:bold;
}
.MLowLine{
    width: 50px;
    height: 0;    
    border: 1px solid;
    margin: 30px auto;
}
.MLorem{
    font-family: 'Roboto Slab', serif;
    margin: auto;
    width: 30%;
    text-align: center;
    color: rgb(85, 85, 85);
    font-size: 16px;
    min-width: 270px;
}
.M2stories{
    display: flex;
    flex-flow: row wrap;
    margin: 50px 230px;
    justify-content: space-around;
}
.Mstory{
    font-family: 'Roboto Slab', serif;
/*    width: calc(50% - 40px);*/
    width: 45%;
    text-align: justify;
    color: rgb(85, 85, 85);
    margin: 25px;
    font-size: 14px;
    min-width: 270px;
}
.MOneFoto{
    width: 270px;
    height: 310px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    
}
.Mface{
    vertical-align: top;
    width: 270px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.MworkerName{
    text-transform: uppercase;
    text-align: center;
    color: rgb(85, 85, 85);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.MworkerJob{
    text-align: center;
    color: rgb(85, 85, 85);
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
}
.Maboutusfotos{
    display: flex;
    flex-flow: row wrap;
    margin: 50px 230px;
    justify-content: space-around;
}
.M2fotos{
    width: 50%;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around;
    min-width: 270px;
}
.Mlastworks{
    width: 100%;
}
.Mpic{
    width: 360px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px 5px;
    min-width: 270px;
}
.Mmenu{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin: auto;
}
li {
    list-style-type: none;
    margin: 0 15px;
   }
a{
    text-decoration: none;
    color: rgb(85, 85, 85);
}
.MMenuconteiner{
    margin: 20px 230px;
}
.Mredcube{
    background-color: #c0301c;
    opacity: 0;
    z-index: 100;
    width: 100%;
    height: 320px;
}
.Mpic:hover .Mredcube{
    opacity: 0.7;
}
.Mgreycube{
    background-color: #555555;
    opacity: 0;
    z-index: 100;
    width: 100%;
    height: 250px;
}
.Mface:hover .Mgreycube{
    opacity: 0.5;
}
.Mmenu a:hover{
    color: #ebbeb8;
}

